<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/session/user.json.jbuilder",
      user: current_user
    ).html_safe %>

    window.reservations = <%= render(
      "api/reservations/reservations.json.jbuilder",
      reservations: reservations
    ).html_safe %>

    window.favorites = <%= render(
      "api/favorites/favorites.json.jbuilder",
      favorites: favorites
    ).html_safe %>
  <% end %>

  window.images = {
    chair_logo: `<%= image_path('fl-seating-chair-icon.png') %>`
  };
</script>

<main id="root"></main>
