<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/session/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    chair_logo: `<%= image_path('fl-seating-chair-icon.png') %>`
  };
</script>

<main id="root"></main>
