/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*// reset*/
html,
body,
ul,
p,
h3,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: none;
}

html, body, #content {
  min-height: 100%;
}

body {
  background-color: $background;
}

li {
  list-style: none;
}

.mock-header {
  font-size: 24px;
  font-family: sans-serif;
  border-bottom: 1px solid #D3D3D3;
  width: 82%;
}

.SomeForm {
  height: 250px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.model-div {
  height: 300px;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  position: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

}

.form-submit {
  background-color: red;
  color: white;
  width: 90%;
  height: 30%;
}
.SomeForm > label {
  height: 30%;
}

.SomeForm > input {
  width: 90%;
  height: 25%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
}

.modal-container {
}
