/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

 /*// reset*/





html,
body,
ul,
p,
h3,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: none;
}

button {
  cursor: pointer;
}

html, body, #content {
  min-height: 100%;
}

body {
  background-color: #F5F5F5;
}

li {
  list-style: none;
}

.mock-header {
  font-size: 24px;
  font-family: sans-serif;
  width: 82%;
}

.SomeForm {
  height: 250px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal-div {
  background-color: white;
  padding-top: 25px;
  height: 300px;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  position: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.modal-div > ul {
  width: 81.5%;
  color: red;
  padding-top: 5px;
  font-size: 16px;
}

.modal-div {
  background-color: white;
  padding-top: 25px;
  height: inherit;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  position: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.modal-div > ul {
  width: 81.5%;
  color: red;
  padding-top: 5px;
  font-size: 16px;
}

.form-submit {
  background-color: red;
  color: white;
  width: 90%;
  height: 55px;
  border-radius: 5px;
}

.SomeForm > label {
  height: 30%;
}

.SomeForm > input {
  width: 90%;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.restaurant-form {
  height: 90%;
  width: 90%;
  display: flex;
/*   flex-direction: column; */
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.restaurant-form > input {
/*   float: none; */
  width: 45%;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.restaurant-form > select {
  width: 30%;
  height: 50px;
}

.description-input {
  resize: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}


.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 20px;
  height: 55px;
}

.logo {
  width: 30px;
  float: left;
}

.nav-left {
  padding-right: 5px;
  padding-left: 30px;
  border-right: 1px solid gray;
  display: flex;
  width: 200px;
  align-items: center;
}

.nav-left > span {
  padding: 20px;
}

.nav-right {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.nav-right > div > button {
  width: 100px;
  padding: 10px;
  margin: 5px;
  height: 40px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}

.nav-right > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right > div > button.sign-up-button {
  background-color: #237B98;
  color: white;
}

.nav-right > div > button.demo-button {
  background-color: red;
  color: white
}

.modal-container {
}

.modal-redirect {
  color: red;
  cursor: pointer;
}
