/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/*// reset*/
/* line 20, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 19, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 20, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
@import "font-awesome-sprockets";
@import "font-awesome";

html,
body,
ul,
p,
h3,
button {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  border: none;
}

/* line 32, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 32, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 34, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
button {
  cursor: pointer;
}

/* line 36, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 37, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 40, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
html, body, #content {
  min-height: 100%;
}

/* line 40, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 42, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 46, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
body {
  background-color: #F5F5F5;
}

/* line 44, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 47, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 52, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
li {
  list-style: none;
}

/* line 48, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 52, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 58, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.mock-header {
  font-size: 24px;
  font-family: sans-serif;
  width: 82%;
}

/* line 54, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 59, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 66, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.SomeForm {
  height: 250px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* line 63, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 69, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 77, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div {
  background-color: white;
  padding-top: 25px;
  height: 300px;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  position: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* line 78, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 85, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 94, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div > ul {
  width: 81.5%;
  color: red;
  padding-top: 5px;
  font-size: 16px;
}

/* line 85, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 93, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 103, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div {
  background-color: white;
  padding-top: 25px;
  height: inherit;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  position: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* line 100, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 109, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 120, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div > ul {
  width: 81.5%;
  color: red;
  padding-top: 5px;
  font-size: 16px;
}

/* line 107, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 117, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 129, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.form-submit {
  background-color: red;
  color: white;
  width: 90%;
  height: 55px;
  border-radius: 5px;
}

/* line 115, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 126, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 139, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.SomeForm > label {
  height: 30%;
}

/* line 119, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 131, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 145, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.SomeForm > input {
  width: 90%;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* line 126, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 139, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 154, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-form {
  height: 90%;
  width: 90%;
  display: flex;
  /*   flex-direction: column; */
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* line 136, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 150, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 166, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-form > input {
  /*   float: none; */
  width: 45%;
  height: 50px;
  padding-left: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* line 144, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 159, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 177, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-form > select {
  width: 30%;
  height: 50px;
}

/* line 149, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 165, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 184, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.description-input {
  resize: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* line 156, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 172, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 192, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 20px;
  height: 55px;
}

/* line 166, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 183, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 204, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.logo {
  width: 30px;
  float: left;
}

a:hover img {
  display: block;
  outline: none;
}

/* line 171, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 189, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 211, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.nav-left {
  padding-right: 5px;
  padding-left: 30px;
  border-right: 1px solid gray;
  display: flex;
  width: 200px;
  align-items: center;
}

.nav-left > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.nav-left > a:clicked {
  color: black;
}

/* line 180, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 199, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 222, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */

.nav-left > a > span {
  padding: 20px;
}

/* line 184, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 204, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 228, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.nav-right {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

/* line 192, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 213, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 238, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.nav-right > div > button {
  width: 100px;
  padding: 10px;
  margin: 5px;
  height: 40px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}

/* line 203, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 225, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 251, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.nav-right > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 211, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 234, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 261, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.nav-right > div > button.sign-up-button {
  background-color: #237B98;
  color: white;
}

/* line 216, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 240, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 268, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.nav-right > div > button.demo-button {
  background-color: red;
  color: white;
}

/* line 221, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 246, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 275, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-redirect {
  color: red;
  cursor: pointer;
}

/* line 226, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 252, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 282, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.add-restaurant-div {
  background-image: url("http://res.cloudinary.com/pangland/image/upload/c_crop,h_300,w_1200,x_610,y_650/v1503603772/clay-banks-170882_canvza.jpg");
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* line 239, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 266, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 297, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.add-restaurant-div > section {
  max-width: inherit;
}

/* line 243, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 271, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 303, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.add-restaurant-div > section > button {
  width: 200px;
  padding: 10px;
  margin: 5px;
  height: 50px;
  font-size: 14px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  color: white;
}

/* line 255, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 284, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 317, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.pic1 {
  background-image: url(http://res.cloudinary.com/pangland/image/upload/c_fill,g_center,h_361,r_0,w_1600/v1503604377/davide-cantelli-148407_hyzfpg.jpg);
  max-width: 1600px;
  height: 361px;
  /*background-size: contain;
  -webkit-background-size: cover;*/
  /*padding-bottom: 450px;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  margin: 0 auto;
  margin-bottom: -100px;
}

/* line 270, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 300, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 334, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.all-home-stuff {
  max-width: 1200px;
  margin: 0 auto;
  /*   background-color: #F5F5F5; */
  box-sizing: border-box;
}

/* line 277, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 308, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 343, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.fancy-search {
  height: 180px;
  width: inherit;
  max-width: inherit;
  box-sizing: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid lightgray;
  /*box-shadow: 0px 0px 1px white;*/
}

/* line 292, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 324, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 360, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-header-block {
  background: -webkit-linear-gradient(left, #222, #666);
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 200px;
  padding-top: 60px;
  padding-bottom: 20px;
  height: 90px;
  justify-content: space-around;
}

/* line 306, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 339, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 377, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-header-block > h2 {
  padding: 0px;
  margin: 0px;
}

/* line 311, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 345, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 384, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.description-block {
  height: 180px;
  width: inherit;
  max-width: inherit;
  box-sizing: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid lightgray;
  height: 2000px;
  /*box-shadow: 0px 0px 1px white;*/
}

/* line 360, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 401, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-restaurant-input {
  height: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 25px;
  width: 300px;
  font-size: 14px;
}

/* line 368, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 411, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-restaurant-list {
  background-color: white;
  width: 305px;
  padding-right: 25px;
}

/* line 417, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-restaurant-list > li {
  padding-left: 25px;
  background-color: white;
  padding-top: 10px;
  color: lightgray;
}

/* line 424, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-restaurant-list > li > a {
  text-decoration: none;
  font-size: 14px;
}

/* line 429, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-restaurant-list > li > a:visited {
  background-color: white;
  padding-top: 10px;
  color: inherit;
}

/* line 435, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-restaurant-list > li:hover {
  background-color: red;
  padding-top: 10px;
  color: white;
}

/* line 442, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-restaurant-list > li > a:link {
  color: inherit;
}

/* line 446, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.cuisine-span {
  font-size: 12px;
}

/* line 450, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.price-span {
  font-size: 12px;
}

/* line 326, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 373, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 457, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
#snackbar {
  visibility: hidden;
  position: fixed;
  text-align: center;
  padding: 20px;
  bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
}

/* line 331, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 379, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 472, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/* line 488, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.header-image-div {
  float: left;
  margin-right: 100px;
}

/* line 493, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.header-info-div {
  float: left;
}

/* line 497, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.horizontal-restaurant-blocks {
  display: flex;
  width: 1600px;
  margin: 0 auto;
  margin-top: 20px;
}

/* line 503, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.floating-nav {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* line 509, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-mid {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 1200px;
  margin: 0 auto;
  /*   background-color: #F5F5F5; */
  box-sizing: border-box;
}

.info-block {
  background-color: white;
}

.fancy-res-search {
  height: 180px;
  width: inherit;
  max-width: inherit;
  box-sizing: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid lightgray;
  /*box-shadow: 0px 0px 1px white;*/
}

.reservations-in-range {
  display: flex;
}

.reservations-in-range > li > button {
  width: 100px;
  padding: 10px;
  margin: 5px;
  height: 40px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: red;
  color: white
}

.search-restaurant-div {
  display: flex;
}

.search-restaurant-div > select {
  padding-left: 10px;
  height: 50px;
  width: 160px;
  font-size: 14px;
  background-color: white;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-border-image: none;
  -webkit-border-radius: 0;
  border: 1px solid rgb(200, 200, 200);
}

.search-restaurant-div > button {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  width: 160px;
  font-size: 14px;
  color: white;
  background-color: red;
  -webkit-appearance: none;
  -webkit-border-image: none;
  -webkit-border-radius: 0;
  border: 1px solid rgb(200, 200, 200);
}

#date {
  padding-left: 10px;
  height: 48px;
  width: 160px;
  font-size: 14px;
  background-color: white;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-border-image: none;
  -webkit-border-radius: 0;
  border: 1px solid rgb(200, 200, 200);
}
