@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */
/*// reset*/
/* line 20, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 19, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 20, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
@import "font-awesome-sprockets";
@import "font-awesome";

/* line 24, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
html,
body,
ul,
p,
h3,
button {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  border: none;
}

a {
  color: blue;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:focus {
  text-decoration: none;
  color: blue;
}

// a:hover, a:active {
//   text-decoration: none;
//   color: blue;
// }

/* line 32, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 32, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 34, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 39, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
button {
  cursor: pointer;
}

/* line 36, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 37, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 40, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 46, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
html, body, #content {
  min-height: 100%;
}

/* line 40, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 42, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 46, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 53, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
body {
  background-color: #F5F5F5;
}

/* line 44, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 47, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 52, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 60, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
li {
  list-style: none;
}

/* line 48, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 52, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 58, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 67, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.mock-header {
  font-size: 24px;
  font-family: sans-serif;
  width: 82%;
}

/* line 54, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 59, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 66, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 76, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.SomeForm {
  height: 250px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* line 63, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 69, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 77, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 88, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div {
  background-color: white;
  padding-top: 25px;
  height: 300px;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  position: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* line 78, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 85, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 94, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 106, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div > ul {
  width: 81.5%;
  color: red;
  padding-top: 5px;
  font-size: 16px;
}

/* line 85, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 93, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 103, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 116, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div {
  background-color: white;
  padding-top: 25px;
  height: inherit;
  width: 460px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  position: center;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* line 100, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 109, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 120, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 134, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div > ul {
  width: 81.5%;
  color: red;
  padding-top: 5px;
  font-size: 16px;
}

/* line 107, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 117, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 129, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 144, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.form-submit {
  background-color: red;
  color: white;
  width: 90%;
  height: 55px;
  border-radius: 5px;
}

/* line 115, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 126, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 139, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 155, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.SomeForm > label {
  height: 30%;
}

/* line 119, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 131, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 145, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 162, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.SomeForm > input {
  width: 90%;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* line 126, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 139, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 154, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 172, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-form {
  height: 90%;
  width: 90%;
  display: flex;
  /*   flex-direction: column; */
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* line 136, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 150, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 166, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 185, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-form > input {
  /*   float: none; */
  width: 45%;
  height: 50px;
  padding-left: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* line 144, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 159, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 177, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 197, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-form > select {
  width: 30%;
  height: 50px;
}

/* line 149, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 165, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 184, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 205, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.description-input {
  resize: none;
  border: 1px solid lightgray;
  border-radius: 5px;
}

/* line 156, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 172, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 192, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 214, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 20px;
  height: 55px;
}

/* line 166, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 183, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 204, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 227, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.logo {
  width: 30px;
  float: left;
}

/* line 232, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
a:hover img {
  display: block;
  outline: none;
}

/* line 171, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 189, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 211, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 240, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.nav-left {
  padding-right: 5px;
  padding-left: 30px;
  border-right: 1px solid gray;
  display: flex;
  width: 200px;
  align-items: center;
}

/* line 249, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.nav-left > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.nav-left > a:clicked {
  color: black;
}

.nav-left > a > span {
  padding: 20px;
}

.nav-right {
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 300px;
}

.nav-right > div > button {
  width: 90px;
  padding: 10px;
  margin: 0px;
  height: 40px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
}

.nav-right > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-right > div > span {
  width: 90px;
  padding: 10px;
  margin: 0px;
  height: 40px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
  font-size: 16px;
}

.nav-right > div > button.sign-up-button {
  background-color: #237B98;
  color: white;
}

.nav-right > div > button.demo-button {
  background-color: red;
  color: white;
}

.nav-right > div.logged-in > button {
  background-color: #237B98;
  color: white;
}

.nav-right > div > a > button {
  width: 90px;
  padding: 10px;
  margin: 0px;
  height: 40px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.modal-redirect {
  color: red;
  cursor: pointer;
}

.add-restaurant-div {
  background-image: url("http://res.cloudinary.com/pangland/image/upload/c_crop,h_300,r_5,w_1200,x_610,y_650/v1503603772/clay-banks-170882_canvza.jpg");
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  height: 300px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-restaurant-div > section {
  max-width: inherit;
}

.add-restaurant-div > section > button {
  width: 200px;
  padding: 10px;
  margin: 5px;
  height: 50px;
  font-size: 14px;
  border: 1px solid red;
  border-radius: 5px;
  background-color: red;
  color: white;
}

.pic1 {
  background-image: url(http://res.cloudinary.com/pangland/image/upload/c_fill,g_center,h_361,r_0,w_1600/v1503604377/davide-cantelli-148407_hyzfpg.jpg);
  max-width: 1600px;
  height: 361px;
  /*background-size: contain;
  -webkit-background-size: cover;*/
  /*padding-bottom: 450px;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  margin: 0 auto;
  margin-bottom: -100px;
}

.all-home-stuff {
  max-width: 1200px;
  margin: 0 auto;
  /*   background-color: #F5F5F5; */
  box-sizing: border-box;
}

.fancy-search {
  height: 180px;
  width: inherit;
  max-width: inherit;
  box-sizing: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid lightgray;
  /*box-shadow: 0px 0px 1px white;*/
}

/* line 292, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 324, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 360, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 415, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-header-block {
  background: -webkit-linear-gradient(left, #222, #666);
  background-color: #333;
  color: white;
  display: flex;
/*   flex-direction: column; */
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  height: 200px;
/*   justify-content: space-around; */
  box-sizing: border-box;
}

/* line 306, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 339, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 377, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 433, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.header-info-div > h2 {
  padding: 0px;
  margin: 0px;
  font-size: 36px;
}

/* line 311, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 345, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 384, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 441, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.description-block {
  // height: 180px;
  width: inherit;
  max-width: inherit;
  box-sizing: inherit;
  background-color: white;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  border: 1px solid lightgray;
  // height: 2000px;
  /*box-shadow: 0px 0px 1px white;*/
}

/* line 360, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 401, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 459, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-restaurant-input {
  height: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 40px;
  width: 305px;
  font-size: 14px;
}

/* line 368, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 411, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 470, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-restaurant-list {
  background-color: white;
  width: 348px;
  position: absolute;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 5p
}

.search-list-type {
  padding-left: 7px;
  font-size: 14px;
  padding-top: 10px;
/*   padding-bottom: px; */
  border-top: 1px solid rgb(138, 138, 138);
}

.search-list-item > p {
  padding-bottom: 10px;
}

.search-list-type {

}

/* line 417, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 477, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-list-item {
  padding-left: 25px;
  background-color: white;
  padding-top: 10px;
  color: gray;
}

.search-list-item-button {
  padding-right: 25px;
  background-color: white;
  padding-top: 10px;
  color: gray;
}

/* line 424, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 485, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-list-item > a {
  text-decoration: none;
  font-size: 14px;
}

/* line 429, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 491, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-list-item > a:visited {
  background-color: white;
  padding-top: 10px;
  color: inherit;
}

/* line 442, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 505, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-list-item > a:link {
  color: inherit;
}

/* line 446, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 510, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.cuisine-span {
  font-size: 12px;
}

/* line 450, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 515, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.price-span {
  font-size: 12px;
}

/* line 326, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 373, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 457, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 522, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
#snackbar {
  visibility: hidden;
  position: fixed;
  text-align: center;
  padding: 20px;
  bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
  color: white;
  left: 43%;
}

/* line 331, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 379, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 472, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 537, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
/* line 488, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 563, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.header-image-div {
  float: left;
  margin-right: 63px;
  margin-top: 45px;
}

.header-image-div > img {
  border-radius: 5px;
}

/* line 493, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 569, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.header-info-div {
  margin-top: 40px;
  min-width: 200px;
  float: left;
}

.header-info-div > div > span {
  color: gray;
}

.cuisine-price-r-div {
  display: flex;
  justify-content: space-between;
}

/* line 497, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 574, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.horizontal-restaurant-blocks {
  display: flex;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

/* line 503, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 582, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.floating-nav {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

/* line 509, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 589, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-mid {
  display: flex;
  flex-direction: column;
  flex: 2;
  max-width: 1050px;
  margin: 0 auto;
  /*   background-color: #F5F5F5; */
  box-sizing: border-box;
}

.info-block {
  background-color: white;
  width: 270px;
  padding: 15px;
  height: 260px;
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .info-block {
    display: none;
  }
}

// @media screen and (min-width: 0) and (max-width: 1024px) {
//   .info-block { display: none; }   /* hide it elsewhere */
// }

/* line 603, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.fancy-res-search {
  min-height: 180px;
  width: inherit;
  max-width: inherit;
  box-sizing: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid lightgray;
  /*box-shadow: 0px 0px 1px white;*/
}

/* line 618, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.reservations-in-range {
  display: flex;
}

/* line 622, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.reservations-in-range > li > button {
  width: 100px;
  padding: 10px;
  margin: 5px;
  height: 40px;
  font-size: 14px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: red;
  color: white;
}

/* line 634, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.search-restaurant-div {
  display: flex;
}

.search-restaurant-div > div > label > select {
  padding-left: 10px;
  height: 50px;
  width: 160px;
  font-size: 14px;
  background-color: white;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-border-image: none;
  // -webkit-border-radius: 0;
  border: 1px solid #c8c8c8;
  background: transparent;
}

.search-restaurant-div > a > button {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  width: 180px;
  font-size: 14px;
  color: white;
  background-color: red;
  -webkit-appearance: none;
  -webkit-border-image: none;
  -webkit-border-radius: 0;
  border: 1px solid #c8c8c8;
}

.search-restaurant-div > button {
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  width: 180px;
  font-size: 14px;
  color: white;
  background-color: red;
  -webkit-appearance: none;
  -webkit-border-image: none;
  // -webkit-border-radius: 0;
  border: 1px solid #c8c8c8;
}

#date {
  padding-left: 10px;
  height: 48px;
  width: 260px;
  font-size: 14px;
  background-color: white;
  -webkit-appearance: none;
  -webkit-rtl-ordering: logical;
  -webkit-border-image: none;
  -webkit-border-radius: 0;
  border: 1px solid #c8c8c8;
}

#date::-webkit-calendar-picker-indicator:hover {
  background-color: transparent;
}

#date::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

#date::-webkit-calendar-picker-indicator{
  color: transparent;
}

.search-restaurant-input-wrapper {
  position: relative;
}

.search-restaurant-input-wrapper:before {
  font-family: 'FontAwesome';
  font-size: 18px;
  color: gray;
  position: absolute;
  content: "\f002";
  top: 12%;
  left: 4%;
}

.search-restaurant-select-wrapper {
  position: relative;
}

.search-restaurant-select-wrapper:after {
  font-family: 'FontAwesome';
  font-size: 18px;
  color: gray;
  position: absolute;
  content: "\f0dd";
  top: 0%;
  right: 6px;
  pointer-events: none;
}

/* line 727, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-details {
  height: inherit;
  width: inherit;
  max-width: inherit;
  box-sizing: inherit;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 25px;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid lightgray;
}

/* line 741, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-block {
  margin-top: 10px;
  height: 150px;
  display: flex;
  width: 1122px;
  box-sizing: border-box;
  margin: 0 auto;
}

/* line 750, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-list {
  margin-top: 15px;
}

/* line 754, /Users/appacademy/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.restaurant-list > li {
  margin-bottom: 15px;
}

.reservation-details {
  height: 110px;
  width: inherit;
  max-width: inherit;
  box-sizing: inherit;
  background-color: white;
  display: flex;
  margin-bottom: 1px;
  padding-left: 25px;
  padding-top: 15px;
  /*   border-radius: 10px; */
  /*   border: 1px solid lightgray; */
}

/* line 4589, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 4591, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.reservation-details > div {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 4595, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 4598, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
a:hover img {
  display: inherit;
  outline: none;
}

/* line 4600, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 4604, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.reservation-details > a > img {
  margin-right: 10px;
}

/* line 4604, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 4609, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.reservations-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 25px;
  border-radius: 10px;
  border-bottom: 1px solid lightgray;
  margin-top: 30px;
  /*   box-shadow: 0px 0px 1px white; */
}

/* line 4609, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 4619, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.review-and-favorite-container {
  color: #DC143C;
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

/* line 4626, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.seat-count {
  color: gray;
  font-size: 14px;
}

/* line 4614, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 4632, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.review-and-favorite-container > span:hover {
  color: darkred;
  cursor: pointer;
}

.reservation-list-header {
  height: 75px;
/*   width: inherit; */
  max-width: 1000px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 25px;
  margin-bottom: 1px;
  border-top: 1px solid white;
  border-radius: 5px;
/*   border-radius: 10px; */
/*   border: 1px solid lightgray; */
  /*box-shadow: 0px 0px 1px white;*/
}

.reservation-list-header > h3 {
  margin: auto 0;
  font-size: 24px;
}

.no-reservation-footer {
  height: 75px;
  /*   width: inherit; */
  max-width: 1000px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 25px;
  margin-bottom: 1px;
  border-bottom: 1px solid white;
  border-radius: 5px;
  /*   border-radius: 10px; */
  /*   border: 1px solid lightgray; */
  /*box-shadow: 0px 0px 1px white;*/
}

.no-reservation-footer > span {
  margin: auto 0;
  color: gray;
  font-size: 16px;
}

.new-review-form {
  height: 250px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* line 4702, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.new-review-form > span {
  margin-right: 10px;
  /*   flex-grow: 1; */
  width: 50%;
}

/* line 4708, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
/* line 4709, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div-review {
  background-color: white;
  padding-top: 25px;
  height: 500px;
  width: 640px;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  position: center;
  box-sizing: border-box;
  // justify-content: center;
  align-items: center;
}

/* line 4724, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div-review > span {
  font-size: 24px;
  margin-bottom: 15px auto;
}

/* line 4728, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.modal-div-review > form > .description-input {
  margin-top: 15px;
  margin-bottom: 15px;
}

.new-review-form > div {
/*   margin-right: 30px; */
}

.new-review-form > span {
  margin-right: 10px;
  width: 50%;
}

.modal-div-review > ul {
  width: 75.5%;
  color: red;
  padding-top: 5px;
  font-size: 16px;
}

.overall-status {
  display: flex;
}

.overall-status > h1 {
  margin: 0px;
  margin-right: 200px;
  font-size: 50px;
}

.description-block > h3 {
  font-size: 24px;
  padding-left: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.description-block > p {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
}

.review-summary-header-div {
  // padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.overall-status > div {
  margin-top: 6px;
}

.subreview-averages {
  display: flex;
  justify-content: space-between;
  margin-right: 500px;
}

.subreview-averages > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subreview-averages > div > h5 {
  margin-top: 10px;
  margin-bottom: 3px;
}

/* line 4794, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.topline {
  display: flex;
}

/* line 4798, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.topline > span {
  margin-top: 4px;
  font-size: 14px;
  color: gray;
  margin-left: 10px;
}

/* line 4805, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */

.reviews-block > div {
/*   background-color: red; */
  padding-bottom: 20px;

}

.reviews-block > div > p {
/*   background-color: red; */
  padding-left: 5px;
  padding-right: 5px;

}

.review-summary-block {
  margin-bottom: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid lightgray;
}

.reviews-stats-overview {
/*   background-color: red; */
  padding-top: 20px;
  padding-left: 20px;
}

.favorites-container {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 50px;
  border-radius: 10px;
  border-bottom: 1px solid lightgray;
  margin-top: 30px;
  /*   box-shadow: 0px 0px 1px white; */
}

.reservation-details > a > button {
  margin-left: 500px;
  font-size: 14px;
  width: 150px;
  height: 60px;
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 2px;
  margin-top: 15px;
}

.make-red {
  margin-left: 20px;
  color: red;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.make-red > li > a {
  color: gray;
}

.make-red > li > a:hover {
  color: crimson;
  text-decoration: none;
}

.info-block > ul > li > h4 > i {
  margin-right: 5px;
  color: lightblue;
}

.info-block > ul > li > h4 {
  margin-bottom: 10px;
}

.review-summary-header-div > h3 {
  padding-left: 20px;
  padding-bottom: 20px;
  font-size: 24px;
}

.restaurant-index-search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.restaurant-index-search-container > form > div > label > select {
  background-color: white;
}

.profile-header-div {
  width: 1600px;
  background-color: white;
  margin: 0 auto;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 80px;
  border-radius: 0px 0px 5px 5px;
}

/* line 4914, /home/pangland/Desktop/ProjectSetup/app/assets/stylesheets/application.scss */
.profile-header-div > h1 {
  margin-left: 30px;
  margin-top: 20px;
}

.no-restaurants {
  height: 75px;
  /*   width: inherit; */
  max-width: 1121px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 25px;
  margin-bottom: 1px;
  border-bottom: 1px solid white;
  border-radius: 5px;
  /*   border-radius: 10px; */
  /*   border: 1px solid lightgray; */
  /*box-shadow: 0px 0px 1px white;*/
}

.no-restaurants > h2 {
  margin: auto auto;
}

.everything-else {
  width: 1200px;
}

.floating-profile-nav {
  height: 1000px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

// .hovered {
//   background-color: blue;
// }

.hovered {
  background-color: red;
  padding-top: 10px;
  color: white;
}

.hide-dropdown {
  visibility: hidden;
}

select.left-select {
  border-radius: 4px 0px 0px 4px;
}

.find-stuff-button {
  border-radius: 0px 4px 4px 0px;
}

input.caret-mod {
  caret-color: transparent;
}

.in-range {
  color: black !important;
}
